In [1]:
import pandas as pd
import numpy as np
import gensim
import gensim.downloader

import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
import string

from keras.layers import LSTM, Activation, Dropout, Dense, Input
from keras.models import Sequential
from keras.layers.embeddings import Embedding
from keras.models import Model

from keras.preprocessing.sequence import pad_sequences

from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score

from tqdm import tqdm

## Data exploration

In [4]:
df = pd.read_csv("data/train.csv")
df = df.drop(["Unnamed: 0"],axis=1)

df_val = pd.read_csv("data/dev.csv")
df_val = df_val.drop(["Unnamed: 0"],axis=1)
df.head()

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,11284,Maintenance Mechanic,"US, NY, Niagara Falls",Maintenance,NaN,"Niacet is a leading producer of organic salts,...",DEPARTMENT: MaintenanceREPORTS TO: ...,NaN,NaN,0,1,0,Full-time,Mid-Senior level,NaN,Chemicals,Manufacturing,0
1,11511,LS17 6DJ Customer Service Apprenticeship Avail...,"GB, , Leeds",NaN,NaN,Established on the principles that full time e...,This is fantastic opportunity for someone want...,Government funding is only available for 16-18...,Future prospects,0,1,1,NaN,NaN,NaN,NaN,NaN,0
2,5663,Technical Support Representative,"US, OH, Westerville",NaN,NaN,Working for Status Solutions means that you ar...,A Customer Support Representative at Status So...,"TasksMonitor the Network Operations Center, ca...",Starting salary based on experience and educat...,0,1,1,Full-time,Not Applicable,Unspecified,Computer Software,Customer Service,0
3,16816,Ruby on Rails Specialist,"US, CA, Long Beach",NaN,NaN,NaN,Ruby on Rails Web Engineer (RoR)Now Hiring Rub...,NaN,NaN,0,0,0,Full-time,Mid-Senior level,NaN,Information Technology and Services,NaN,0
4,3733,Caregiver - Bridgman,"US, MI, Bridgman",NaN,NaN,"""Our mission to our clients is to preserve the...",Home Sweet Home In-Home Care is one of the fas...,NaN,Competitive compensation with performance revi...,0,1,1,NaN,NaN,High School or equivalent,Hospital & Health Care,Health Care Provider,0

#### Missing values

In [3]:
df_fake = df.loc[df["fraudulent"]==1]
df_true = df.loc[df["fraudulent"]==0]
df_fake

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
52,6528,Client Audit Coordinator,"US, TX, Austin",COMPLIANCE UNIT 701,26000-30000,The Accion story began more than 100 years ag...,Description SUMMARY: The Client Audit Coordina...,High school diploma or equivalent; Bachelor's ...,We offer a competitive and comprehensive range...,0,1,1,Full-time,Associate,High School or equivalent,Financial Services,Customer Service,1
75,9842,Client Services Manager - SM1,"US, CA, San Mateo",Client Services,NaN,#URL_ddb080358fa5eecf5a67c649cfb4ffc343c484389...,"Client Services Manager - SM1San Mateo, CA#URL...",Basic Qualifications:Proven experience in mana...,Our core values drive our culture. This is wha...,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Marketing and Advertising,Information Technology,1
77,17806,Receptionist,"GB, ,",NaN,NaN,NaN,We the Montcalm Hotel are looking for the posi...,Good Requirement,Package: Basic salary ranges from GBP2500 - 60...,0,0,0,Full-time,Entry level,NaN,Hospitality,NaN,1
84,9258,CAD Operator,"US, TX, Houston",Engineering,NaN,NaN,Corporate overviewAker Solutions is a global p...,Qualifications &amp; personal attributes Educa...,We offer• Friendly colleagues in an industry w...,0,0,0,NaN,NaN,NaN,Construction,Design,1
96,5784,Position Admin Assistant,"AU, NSW, Sydney",NaN,22000-28000,NaN,We require an experienced Admin Assistant with...,• Excellent time management &amp; superb prese...,Part Time – 15 to 20 hours per week – you choo...,0,0,1,Part-time,Internship,Unspecified,Executive Office,Administrative,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14204,5751,"Agency Sales Managers $150-$175,000/yr","US, NY, Elmira",NaN,NaN,We have aggressive growth plans in place for t...,We provide No Credit Check Financing to custom...,Experience and Skills Required- Minimum of 3 ...,We Provide- Complete online training and offic...,0,1,0,Full-time,NaN,High School or equivalent,Financial Services,Sales,1
14228,17677,Director of Engineering: Applications,"US, ,",Engineering,NaN,...,Director of...,What you bring to the table:BS / MS in compute...,"What We Offer: Competitive salary, excellent b...",0,1,1,Full-time,Director,Master's Degree,Ranching,Engineering,1
14253,10483,Senior System Test Engineer,"US, CA, San Jose",Engineering,NaN,Aptitude Staffing Solutions has redesigned the...,"Senior System Test Engineer | San Jose, CAAs a...",Skills and RequirementsBS in Computer Science ...,"Broad responsibility, autonomy and visibility ...",0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Computer Networking,Engineering,1
14254,14129,Adminstrative/Data Entry,"US, IL, Chicago",NaN,63000-63000,NaN,We are a network of national standards bodies....,"No requirements, Apply if you are in the force...","The job includes benefits such as health, dent...",0,0,0,Full-time,Entry level,Unspecified,Human Resources,Human Resources,1
14262,2740,Administrative Assistant,"US, FL, Miami",NaN,36000-50000,NaN,Administrative Assistant provides personal adm...,Education and Experience:Usually at least 3 ye...,"Health, Dental, Life and AD&amp;D Insurance, E...",0,0,0,Full-time,Entry level,Unspecified,Accounting,Administrative,1

In [4]:
def getNaNRatio(df):
    rows = len(df)
    for column in df.columns:
        print(f"{column}: {df[column].isna().sum()/rows}")

In [5]:
getNaNRatio(df_fake)

job_id: 0.0
title: 0.0
location: 0.01925722145804677
department: 0.6107290233837689
salary_range: 0.7359009628610729
company_profile: 0.6685006877579092
description: 0.001375515818431912
requirements: 0.16506189821182943
benefits: 0.40440165061898214
telecommuting: 0.0
has_company_logo: 0.0
has_questions: 0.0
employment_type: 0.28060522696011003
required_experience: 0.49105914718019256
required_education: 0.515818431911967
industry: 0.3177441540577717
function: 0.38514442916093533
fraudulent: 0.0

In [6]:
getNaNRatio(df_true)

job_id: 0.0
title: 0.0
location: 0.01922368711792001
department: 0.6455770788834058
salary_range: 0.8439272298740517
company_profile: 0.16144951020107534
description: 0.0
requirements: 0.15150622376077189
benefits: 0.4015614642409958
telecommuting: 0.0
has_company_logo: 0.0
has_questions: 0.0
employment_type: 0.19179494733740884
required_experience: 0.3928702953524343
required_education: 0.45223539809972746
industry: 0.2739191279369522
function: 0.36083081682256757
fraudulent: 0.0

#### Correlation (features with binary value)

In [7]:
# Correlation
df[["telecommuting","fraudulent"]].corr()

               telecommuting  fraudulent
telecommuting        1.00000     0.03296
fraudulent           0.03296     1.00000

In [8]:
df[["has_company_logo","fraudulent"]].corr()

                  has_company_logo  fraudulent
has_company_logo          1.000000   -0.264599
fraudulent               -0.264599    1.000000

-0.26 is significant correlation for keeping this feature

In [9]:
df[["has_questions","fraudulent"]].corr()

               has_questions  fraudulent
has_questions       1.000000   -0.092613
fraudulent         -0.092613    1.000000

## Preprocessing

In [12]:
# Lowercase, removing stop words, punctuation, numbers, stemming

# Input -> array of docs
def preprocess_texts(texts):
    preprocessed = []
    stop_words = stopwords.words('english')
    punct=string.punctuation
    stemmer=PorterStemmer()
    
    print("Preprocessing..")
    for text in tqdm(texts):
        words = word_tokenize(text)
        words = [''.join([i for i in word if not i.isdigit()]) for word in words] # Removing numbers
        # All in one :)
        words = [stemmer.stem(word.lower()) for word in words if (word not in stop_words) and (word not in punct)]
        preprocessed.append(words)
        
    print("Done")
    return preprocessed

## Fill nan

In [5]:
df = df.fillna("none")
df_val = df_val.fillna("none")

## Small features embeddings

In [6]:
def merge(df):
    df = df.assign(small_features=lambda df: df["title"]+" "+df["location"]+" "+df["department"]+
              df["employment_type"]+" "+df["required_experience"]+" "+df["required_education"]+" "+
               df["industry"]+" "+df["function"])
    return df[["small_features","fraudulent"]]

In [9]:
df_small = merge(df)
df_val_small = merge(df_val)
df_small.head()

                                      small_features  fraudulent
0  Maintenance Mechanic US, NY, Niagara Falls Mai...           0
1  LS17 6DJ Customer Service Apprenticeship Avail...           0
2  Technical Support Representative US, OH, Weste...           0
3  Ruby on Rails Specialist US, CA, Long Beach no...           0
4  Caregiver -  Bridgman US, MI, Bridgman nonenon...           0

In [10]:
features_train = np.array(df_small["small_features"])
target_train = np.array(df_small["fraudulent"])

features_val = np.array(df_val_small["small_features"])
target_val = np.array(df_val_small["fraudulent"])

In [13]:
preprocessed_train = preprocess_texts(features_train)
preprocessed_val = preprocess_texts(features_val)
#print(preprocessed[:3])

Preprocessing..

100%|███████████████████████████████████████████████████████████████████████████| 14304/14304 [00:15<00:00, 903.00it/s]

Done
Preprocessing..

100%|█████████████████████████████████████████████████████████████████████████████| 1788/1788 [00:01<00:00, 963.20it/s]

Done

#### GloVe

In [14]:
# Download
glove_vectors = gensim.downloader.load('glove-wiki-gigaword-50') # 50 dimensions embeddings
embedding_dim = 50

In [15]:
# Example

print(glove_vectors["cat"])
glove_vectors.most_similar("cat",topn=10)

[ 0.45281  -0.50108  -0.53714  -0.015697  0.22191   0.54602  -0.67301
 -0.6891    0.63493  -0.19726   0.33685   0.7735    0.90094   0.38488
  0.38367   0.2657   -0.08057   0.61089  -1.2894   -0.22313  -0.61578
  0.21697   0.35614   0.44499   0.60885  -1.1633   -1.1579    0.36118
  0.10466  -0.78325   1.4352    0.18629  -0.26112   0.83275  -0.23123
  0.32481   0.14485  -0.44552   0.33497  -0.95946  -0.097479  0.48138
 -0.43352   0.69455   0.91043  -0.28173   0.41637  -1.2609    0.71278
  0.23782 ]

[('dog', 0.9218006134033203),
 ('rabbit', 0.8487821221351624),
 ('monkey', 0.8041081428527832),
 ('rat', 0.7891963124275208),
 ('cats', 0.7865270972251892),
 ('snake', 0.7798910737037659),
 ('dogs', 0.7795814871788025),
 ('pet', 0.7792249917984009),
 ('mouse', 0.773166835308075),
 ('bite', 0.7728800177574158)]

In [17]:
max_input_length = max([len(doc) for doc in preprocessed_train]) 
print(max_input_length)

40

In [18]:
def texts2embeddings(texts,max_length,em_dim):
    zero_vector = np.zeros(em_dim)
    embeddings = []
    total_words = 0
    missing_words = 0
    for text in tqdm(texts):
        embedded_text = []
        for word in text:
            total_words += 1
            try:
                embedded_text.append(glove_vectors[word])
            except:
                embedded_text.append(zero_vector)
                missing_words += 1
        embeddings.append(embedded_text)
    embeddings = pad_sequences(embeddings, maxlen=max_length, padding='post',value=zero_vector,dtype="float32")
    print("Missing words:",missing_words/total_words)
    return embeddings

In [19]:
embedded_features_train = texts2embeddings(preprocessed_train,max_input_length,embedding_dim)
embedded_features_val = texts2embeddings(preprocessed_val,max_input_length,embedding_dim)

100%|█████████████████████████████████████████████████████████████████████████| 14304/14304 [00:00<00:00, 19505.24it/s]

Missing words: 0.3141766129072992

100%|███████████████████████████████████████████████████████████████████████████| 1788/1788 [00:00<00:00, 24542.14it/s]

Missing words: 0.31604759607653965

In [20]:
# Building model

model = Sequential()
model.add(LSTM(50, input_shape=(max_input_length, embedding_dim)))
model.add(Dropout(0.2)) # Regularization
model.add(Dense(1,activation="sigmoid")) 
model.compile(loss='binary_crossentropy', optimizer='adam',metrics=["accuracy"])
history = model.fit(embedded_features_train, target_train, epochs=15, batch_size=10, verbose=2,
                    validation_data=(embedded_features_val,target_val))

Epoch 1/15
1431/1431 - 41s - loss: 0.2086 - accuracy: 0.9492 - val_loss: 0.1625 - val_accuracy: 0.9620 - 41s/epoch - 29ms/step
Epoch 2/15
1431/1431 - 37s - loss: 0.2034 - accuracy: 0.9492 - val_loss: 0.1616 - val_accuracy: 0.9620 - 37s/epoch - 26ms/step
Epoch 3/15
1431/1431 - 39s - loss: 0.2043 - accuracy: 0.9487 - val_loss: 0.1693 - val_accuracy: 0.9620 - 39s/epoch - 27ms/step
Epoch 4/15
1431/1431 - 36s - loss: 0.2029 - accuracy: 0.9492 - val_loss: 0.1605 - val_accuracy: 0.9620 - 36s/epoch - 25ms/step
Epoch 5/15
1431/1431 - 36s - loss: 0.1747 - accuracy: 0.9494 - val_loss: 0.1280 - val_accuracy: 0.9620 - 36s/epoch - 25ms/step
Epoch 6/15
1431/1431 - 37s - loss: 0.1489 - accuracy: 0.9522 - val_loss: 0.1259 - val_accuracy: 0.9620 - 37s/epoch - 26ms/step
Epoch 7/15
1431/1431 - 38s - loss: 0.1337 - accuracy: 0.9592 - val_loss: 0.1158 - val_accuracy: 0.9631 - 38s/epoch - 26ms/step
Epoch 8/15
1431/1431 - 37s - loss: 0.1202 - accuracy: 0.9634 - val_loss: 0.1040 - val_accuracy: 0.9687 - 37s/epoch - 26ms/step
Epoch 9/15
1431/1431 - 36s - loss: 0.1074 - accuracy: 0.9667 - val_loss: 0.1015 - val_accuracy: 0.9692 - 36s/epoch - 25ms/step
Epoch 10/15
1431/1431 - 37s - loss: 0.1009 - accuracy: 0.9683 - val_loss: 0.1041 - val_accuracy: 0.9698 - 37s/epoch - 26ms/step
Epoch 11/15
1431/1431 - 38s - loss: 0.0914 - accuracy: 0.9723 - val_loss: 0.1047 - val_accuracy: 0.9687 - 38s/epoch - 27ms/step
Epoch 12/15
1431/1431 - 35s - loss: 0.0831 - accuracy: 0.9755 - val_loss: 0.0955 - val_accuracy: 0.9737 - 35s/epoch - 25ms/step
Epoch 13/15
1431/1431 - 36s - loss: 0.0771 - accuracy: 0.9766 - val_loss: 0.0946 - val_accuracy: 0.9726 - 36s/epoch - 25ms/step
Epoch 14/15
1431/1431 - 38s - loss: 0.0687 - accuracy: 0.9794 - val_loss: 0.1004 - val_accuracy: 0.9732 - 38s/epoch - 26ms/step
Epoch 15/15
1431/1431 - 37s - loss: 0.0627 - accuracy: 0.9809 - val_loss: 0.1023 - val_accuracy: 0.9737 - 37s/epoch - 26ms/step

In [21]:
print("Baseline:",(1-sum(target_val)/len(target_val)))

Baseline: 0.9619686800894854

In [24]:
predicted = model.predict(embedded_features_val)

# As labels
treshold = 0.5
predicted_labels = []
for p in predicted:
    if p > treshold:
        predicted_labels.append([1])
    else:
        predicted_labels.append([0])

print("F1:")
print("Micro:",f1_score(target_val,predicted_labels,average="micro"))
print("Macro:",f1_score(target_val,predicted_labels,average="macro"))
print("Weighted:",f1_score(target_val,predicted_labels,average="weighted"))
print("For fraudulent:",f1_score(target_val,predicted_labels,average="binary"))

F1:
Micro: 0.9737136465324385
Macro: 0.7735995452377937
Weighted: 0.9702613509122453
For fraudulent: 0.5607476635514018

Seems gooood!=)